  ion-content{
    --background: blue;
  
  }
  ion-accordion{
    --background: transparent;
    --color: #FFFFFF;
    --border-color: transparent;
    width: 90%;
    max-width: 400px;
    --border-radius: 20px;
    --padding: 10px;
    margin: 0;
    --margin-bottom: 20px;
    --box-shadow: none;
    --background-color: #2365f4; 
  }

  ion-icon{
    color:#FFFFFF;
  }
  ion-header {
    ion-toolbar {
      --background: #00147e; // Fondo azul oscuro
      --color: #ffffff; // Texto blanco
  
      ion-title {
        font-size: 2rem; // Título grande
        font-weight: bold;
        text-align: center; // Centrar el título
      }
    }
  }
  
  ion-content {
    background-color: #00147e; // Fondo azul oscuro
    padding: 20px;
  
    ion-list {
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
  
      ion-item {
        --border-color: transparent;
        --padding-start: 10px;
        --padding-end: 10px;
        --background: #00147e; // Fondo azul oscuro para los items
        --color: #ffffff; // Texto blanco
        border-bottom: 1px solid #ffffff; // Líneas blancas divisoras
  
        ion-checkbox {
          --background: #ffffff;
          --border-radius: 5px;
        }
  
        ion-button {
          --color: #2365f4;
          --background: transparent;
  
          ion-icon {
            --color: #ffffff;
          }
        }
      }
    }
  
    #botton_agregar {
      margin-top: 15px;
      --background: #2365f4;
      --color: #ffffff;
      border-radius: 20px;
      padding: 10px;
      width: 100%;
      max-width: 400px;
    }
  }
  
  ion-footer {
    ion-toolbar {
      --background: #00147e;
      display: flex;
      justify-content: space-between;
  
      ion-button {
        --background: #ffffff; // Fondo blanco para los botones del footer
        --color: #00147e; // Texto azul
  
        &.cancelar {
          --background: #00a3e1; // Fondo azul claro para "Cancelar"
        }
  
        &:hover {
          opacity: 0.8; // Ligeramente más oscuro al pasar el mouse
        }
  
        ion-icon {
          --color: #00147e;
          margin-right: 5px;
        }
      }
    }
  }
  