<ion-header>
  <ion-toolbar color="primary">
    <ion-title>AppTiro Listas</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group expand="inset">
    <ion-accordion *ngFor="let lista of listas">
      <ion-item slot="header">
        <ion-label>{{ lista.nombrelista }}</ion-label>
        <ion-button fill="clear" (click)="editarLista(lista)">
          <ion-icon name="create-outline"></ion-icon> Nombre...
        </ion-button>
        <ion-button fill="clear" (click)="eliminarLista(lista)">
          <ion-icon name="trash-outline"></ion-icon> Eliminar
        </ion-button>
      </ion-item>
      
      <ion-list slot="content">
        <ion-item>
          <ion-label>{{ lista.nombreproducto }}</ion-label>
          <ion-button fill="clear" (click)="eliminarProducto(lista, lista.nombreproducto)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-input placeholder="Agregar producto..." [(ngModel)]="nuevoProducto"></ion-input>
          <ion-button fill="clear" (click)="agregarProducto(lista)">
            <ion-icon name="add-outline"></ion-icon> agregar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-button id="botton_agregar" expand="block" (click)="agregarNuevaLista()">
    <ion-icon id="icon_plus" name="add-outline"></ion-icon> Agregar Lista
  </ion-button>
</ion-content>

<ion-footer>
  <app-header-custom></app-header-custom>
</ion-footer>
