<ion-header id="header">
  <ion-toolbar color="primary">
    <ion-title>AppTiro Listas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-accordion-group expand="inset">
      <ion-accordion *ngFor="let lista of listas">
        <ion-item slot="header">
          <ion-label>{{ lista.nombre }}</ion-label>
            <ion-button fill="clear" (click)="editarLista(lista)">
              <ion-icon name="create-outline">---</ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="eliminarLista(lista)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-list slot="content">
          <ion-item *ngFor="let producto of lista.productos">
            <ion-label>{{ producto }}</ion-label>
            
            <ion-button fill="clear" (click)="eliminarProducto(lista, producto)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Agregar producto..." [(ngModel)]="nuevoProducto"></ion-input>
            <ion-button fill="clear" (click)="agregarProducto(lista)">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
    </ion-list>
  <ion-button id="botton_agregar" expand="block" (click)="agregarNuevaLista()">
      <ion-icon color="primary" slot="start" name="add-outline"></ion-icon>
      Agregar Lista
    </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="cancelar()">
        <ion-icon slot="start" name="close-outline"></ion-icon>
        Cancelar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">

      <ion-button color="primary" (click)="guardarListas()">
        <ion-icon slot="start" name="checkmark-outline"></ion-icon>
        Listo
      </ion-button>

      <ion-button color="primary" (click)="limpiarLocalStorage()">
        Reiniciar listas
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
