<ion-header class="header">
  <ion-toolbar>
    <app-search-bar></app-search-bar>
</ion-toolbar>
</ion-header>



<ion-content >




    <!-- Logo y título optimizados para pantallas pequeñas -->
    <div class="logo">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <div >
              <p>Inventario</p>
              <img src="assets/icon/inventory.png" alt="Inventario Logo" style="width: 150px;">
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>










  <!-- Botón para mostrar el formulario de agregar/editar producto -->
  <ion-button expand="full" (click)="toggleForm()"> 
    {{ isEditing ? 'Editar Producto' : 'Añadir Producto' }} <!-- Muestra el texto adecuado -->
  </ion-button>

  <!-- Formulario para añadir/editar producto -->
  <form *ngIf="showForm" [formGroup]="productForm" (ngSubmit)="saveProduct()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input formControlName="cantidad" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="precio" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Categoría</ion-label>
      <ion-select formControlName="categoria">
        <ion-select-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Expiración</ion-label>
      <ion-datetime formControlName="fechaExpiracion"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-select formControlName="status">
        <ion-select-option value="Disponible">Disponible</ion-select-option>
        <ion-select-option value="Agotado">Agotado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">{{ isEditing ? 'Actualizar Producto' : 'Guardar Producto' }}</ion-button>
  </form>

  <!-- Listado de productos -->
  <ion-list>
    <ion-item *ngFor="let product of products$ | async">
      <ion-label>
        <h2>{{ product.nombre }}</h2>
        <p>{{ product.descripcion }}</p>
        <p>Precio: {{ product.precio | currency }}</p>
        <p>Cantidad: {{ product.cantidad }}</p>
        <ion-button color="primary" (click)="editProduct(product)">Editar</ion-button>
        <ion-button color="danger" (click)="removeProduct(product.id)">Eliminar</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-header-custom></app-header-custom>
