.product-card {
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Animación al pasar el ratón */
.product-card:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

/* Texto blanco */
.product-card .card-title,
.product-card .card-text,
.product-card p {
  color: #fff;
}

/* Bordes de los botones */
.btn-outline-light {
  border-color: #fff;
}

.btn-outline-light:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-danger {
  border-color: #f00;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #f00;
  border-color: #f00;
}