.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #03045e !important;
    color: white;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
