.header-content {
    text-align: center;
    margin: 16px;
  }
  
  .titulo {
    font-size: 2.2rem;
    font-weight: bold;
  }
  
  .descripcion {
    font-size: 1.2rem;
    color: #666;
  }
  
  .add-category {
    margin: 16px;
  }
.logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.imglogo{
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}