<ion-header>
  <ion-toolbar>
    <!-- Botón de Volver a Inicio -->
    <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-button (click)="goBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        <span>Atras</span> <!-- Texto del botón -->
      </ion-button>
    </ion-buttons>

    <!-- Título dinámico -->
    <ion-title>{{ title }}</ion-title>

    <!-- Botón de Perfil -->
    <ion-buttons slot="end" *ngIf="showProfileButton">
      <ion-button [routerLink]="profileButtonUrl">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <span>Inicio</span> <!-- Texto del botón -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

