<ion-header class="custom-header">
  <ion-toolbar class="toolbar">
    <!-- Botón de Volver a Inicio -->
    <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-button class="custom-button" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back" color="white"></ion-icon>
        <span>Atras</span> <!-- Texto del botón -->
      </ion-button>
    </ion-buttons>

    <!-- Título dinámico -->
    <ion-title class="title">{{ title }}</ion-title>

    <!-- Botón de Perfil -->
    <ion-buttons slot="end" *ngIf="showProfileButton">
      <ion-button class="custom-button" [routerLink]="profileButtonUrl">
        <ion-icon slot="start" name="home-outline" color="white"></ion-icon>
        <span>Inicio</span> <!-- Texto del botón -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
