.search-bar {
  margin: 20px 0;                 /* Espacio arriba y abajo de la barra de búsqueda */
  border-radius: 10px;            /* Bordes redondeados */
}

.search-bar ion-searchbar {
  --background: #f8f9fa;          /* Fondo claro para la barra de búsqueda */
  --color: #f8f9fa;                  /* Color del texto */
  --border-radius: 10px;          /* Bordes redondeados */
  --padding-start: 12px;          /* Espaciado inicial */
  --padding-end: 12px;            /* Espaciado final */
  --input-background: transparent; /* Fondo del input transparente */
}

.search-bar ion-searchbar::part(input) {
  font-size: 16px;                /* Tamaño de fuente */
  color: white;                  /* Color del texto del input */
  padding-top: 8px;               /* Espaciado superior */
  padding-bottom: 8px;             /* Espaciado inferior */
  padding-left: 36px;             /* Espaciado izquierdo del input */
  padding-right: 36px;           /* Espaciado derecho del input */
  border-radius: 10px;          /* Bordes redondeados */
  border-color: #ced4da;           /* Color del borde */
  border-width: 1px;               /* Ancho del borde */
  border-style: solid;            /* Estilo del borde */
}

.search-bar ion-searchbar::part(search-icon) {
  color: #007bff;                 /* Color del ícono de búsqueda */
}

.search-bar ion-searchbar::part(cancel-button) {
  color: #d9534f;                 /* Color del botón de cancelar */
}
