/* Estilo de la barra de búsqueda */
.search-bar {
  background-color: #0077b6; /* Fondo azul para el item de búsqueda */
  border-radius: 8px; /* Bordes redondeados para el contenedor */
  padding: 5px; /* Espaciado interno */
}

.bobstrap-card {
  border-radius: 8px; /* Bordes redondeados para el card */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.bobstrap-searchbar {
  --background: #0077b6; /* Fondo azul para la barra de búsqueda */
  --color: #ffffff; /* Texto blanco para la barra de búsqueda */
  --placeholder-color: #ffffff; /* Color del placeholder en blanco */
  --padding-start: 15px; /* Relleno del lado izquierdo */
  --border-radius: 8px; /* Bordes redondeados para la búsqueda */
  height: 40px; /* Altura de la barra de búsqueda */
  font-size: 14px; /* Tamaño de la fuente */
}

.bobstrap-searchbar::part(input) {
  color: #ffffff; /* Color del texto de la búsqueda */
}

.bobstrap-searchbar::part(placeholder) {
  color: #ffffff; /* Color del texto del placeholder */
}
