<ion-card class="login-card">
  <ion-img [src]="product?.imagenUrl" alt="{{ product?.nombre }}"></ion-img>

  <ion-card-header>
    <ion-card-title>{{ product?.nombre }}</ion-card-title>
    <!-- Si `product?.status` es undefined, se pasa 'Agotado' por defecto a la función -->
    <ion-note [color]="getStatusColor(product?.status || 'Agotado')">
      {{ product?.status || 'Agotado' }} <!-- Si no hay estado, muestra 'Agotado' -->
    </ion-note>
  </ion-card-header>

  <ion-card-content>
    <ion-text color="medium">
      <small>{{ product?.cantidad }} unidades - {{ product?.fechaExpiracion | date:'shortDate' }}</small>
    </ion-text>
    <ion-button expand="full" color="primary">Ver Detalles</ion-button>
  </ion-card-content>
</ion-card>
