<ion-header>
  <ion-toolbar color="primary">
    <ion-title>AppTiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1>Inventario</h1>
    <p>Escoge una Categoria</p>
  </div>

<ion-accordion-group expand="inset">      
    <!-- Categoría 1: Frescos -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>Frescos</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button expand="block" color="primary" (click)="navigateTocategoria()">
          Frutas y Verduras
        </ion-button>
        <ion-button expand="block" color="primary" (click)="navigateToproducto()">
          Carnes y Pescados
        </ion-button>
      </div>
    </ion-accordion>

    <!-- Categoría 2: No Perecederos -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>No Perecederos</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button expand="block" color="primary" (click)="navigateTocategoria()">
          Arroz y Pastas
        </ion-button>
        <ion-button expand="block" color="primary" (click)="navigateToproducto()">
          Enlatados
        </ion-button>
      </div>
    </ion-accordion>

    <!-- Categoría 3: Bebidas -->
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>Bebidas</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-button expand="block" color="primary" (click)="navigateTocategoria()">
          Jugos y Refrescos
        </ion-button>
        <ion-button expand="block" color="primary" (click)="navigateToproducto()">
          Bebidas Alcohólicas
        </ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <div class="actions">
    <ion-button expand="block" color="primary" (click)="navigateTocategoria()">
      Categorias
    </ion-button>
    <ion-button expand="block" color="primary" (click)="navigateToproducto()">
      Producto
    </ion-button>
    <ion-button expand="block" color="primary" (click)="navigateToproductoEdit()">
      Editar Producto
    </ion-button>
    <ion-button expand="block" color="primary" (click)="navigateTologin()">
      login
    </ion-button>
  </div>
  

  
</ion-content>
