<ion-header>
  <ion-toolbar color="primary">
    <ion-title>AppTiro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  

  <div>
    <h1 class="titulo"> Inventario </h1>
    <p class="descripcion">Escoge una Categoria</p>
  </div>

  <div class="actions">
    <ion-button expand="block" color="primary" (click)="navigateTocategoria()">
      Categoria1
    </ion-button>
    <ion-button expand="block" color="primary" (click)="navigateToproducto()">
      Producto
    </ion-button>
    <ion-button expand="block" color="primary" (click)="navigateToproductoEdit()">
      Categoria3
    </ion-button>

  </div>


</ion-content>
