<ion-header>
  <ion-toolbar color="primary">
    <ion-title>AppTiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div class="login-container">
    <img src="assets/logo.png" alt="Logo de AppTiro" class="logo">

    <form>
      <ion-item lines="none" class="login-item">
        <ion-input type="text" placeholder="Usuario" class="input"></ion-input>
      </ion-item>
      
      <ion-item lines="none" class="login-item">
        <ion-input type="password" placeholder="Contraseña" class="input"></ion-input>
      </ion-item>

      <div class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>

      <ion-button expand="block" type="submit" color="primary">
        INGRESAR
      </ion-button>

      <ion-button expand="block" fill="outline" color="light">
        Registrarme
      </ion-button>
    </form>
  </div>
</ion-content>
