<ion-content>
  <div class="container">
    <div class="logo">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <img src="assets/logos/AppTiro.png" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-card class="signin-card">
      <ion-card-content>
          <div class="container-signin">
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()"> <!-- Cambiar RegisterForm a registerForm -->
              
              <br>
                
                <ion-input type="text" formControlName="name" placeholder="Nombre"></ion-input> <!-- Cambiado de 'nombre' a 'name' -->
        
                <ion-input type="email" formControlName="email" placeholder="email@dominio.com"></ion-input>

                <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>

                <ion-input type="password" formControlName="confirmPassword" placeholder="Confirmar Contraseña"></ion-input>
              
        
              <ion-button expand="block" color="primary" class="signin-button" type="submit" [disabled]="registerForm.invalid"> 
                Registrarme
              </ion-button>
            </form>
            <a href="/login" class="goToLogin">¿ya tienes cuenta?</a>
        
          </div>
      </ion-card-content>
    </ion-card>
    
  </div>cac
</ion-content>
