<ion-header>
  <ion-toolbar color="primary">
    <ion-title>AppTiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div class="signin-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()"> <!-- Cambiar RegisterForm a registerForm -->
      <img src="assets/logos/LoginLogo.png" alt="Logo de AppTiro" class="logo">

      <ion-item lines="none">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="name" placeholder="John Doe"></ion-input> <!-- Cambiado de 'nombre' a 'name' -->
      </ion-item>

      

      <ion-item lines="none">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" placeholder="email@dominio.com"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" formControlName="confirmPassword" placeholder="Confirmar Contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" color=" white " [disabled]="registerForm.invalid"> <!-- Cambiar RegisterForm a registerForm -->
        Registrarme
      </ion-button>
    </form>

    <div class="login-link">
      <p>Ya soy miembro <a (click)="goToLogin()">¿Quieres iniciar sesión?</a></p>
    </div>
  </div>
</ion-content>
