<ion-header>
  <ion-toolbar color="primary">
    <ion-title>AppTiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 

  <div>
    <h1> Producto</h1>
  </div>

  <ion-item>
    <ion-searchbar placeholder="Buscar Producto"></ion-searchbar>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let producto of recentProducts">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>{{ producto.descripcion }}</p>
        <p>Precio: {{ producto.precio | currency }}</p>
        <p>Cantidad: {{ producto.cantidad }}</p>
        <p>Status: {{ producto.status }}</p>
      </ion-label>
      <ion-button (click)="navigateToproductoEdit(producto.id)">Editar</ion-button>
    </ion-item>
  </ion-list>

  <div class="actions">
    <ion-button expand="block" color="primary" (click)="navigateTocategoria()">
      Categorías
    </ion-button>
    <ion-button expand="block" color="primary" (click)="navigateToproducto()">
      Producto
    </ion-button>
    <ion-button expand="block" color="primary" (click)="navigateToproductoEdit('')">
      Editar Producto
    </ion-button>
    <ion-button expand="block" color="primary" (click)="navigateTologin()">
      Login
    </ion-button>
  </div>

  <ion-button expand="full" color="success" (click)="navegarANuevoProducto()">
    Añadir Producto
  </ion-button>

</ion-content>
