<form [formGroup]="productForm" (ngSubmit)="saveProduct()">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input formControlName="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input formControlName="descripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cantidad</ion-label>
    <ion-input formControlName="cantidad" type="number"></ion-input>
  </ion-item>
  <!-- Más campos como precio, categoría, fecha de expiración -->
  <ion-button expand="full" type="submit">Guardar Producto</ion-button>
</form>
